h1 {
  text-align: center;
    border: 1px solid #f1e9e9;
    background-color: #0b0b0b;
    color: #f1e9e9;
    }
.actor{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.actor-card {
  border: 1px solid #0b0b0b;
  padding: 15px;
  max-width: 300px;
  border-radius: 8px;
}

